* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", serif;
    font-size: 16px;
    font-weight: 400;
}

a,
a:hover {
    text-decoration: none;
}

.main_container {
    width: 1440px;
    max-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

.container {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER */
.header_body_bottom,
.header_body_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.header_body_top {
    border-bottom: 1px solid #6F7682;
}

.header_body_top_left {
    display: flex;
    align-items: center;
}

.header_body_top_logo_img {
    width: 190px;
    height: auto;
}

.header_body_top_nav {
    display: flex;
    list-style: none;
    margin-left: 14px;
}

.header_body_top_nav_item_link {
    padding: 0 22px;
}

.header_body_top_nav_item_link,
.header_body_top_account_link {
    font-size: 14px;
    color: #6F7682;
}

.header_body_top_account {
    display: flex;
    align-items: top;
    margin-right: 14px;
}

.header_body_top_account_link {
    margin-top: 4px;
}

.header_body_top_account_img>img {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.header_body_bottom_left {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 36px;
    align-items: center;
}

.header_body_bottom_catalog_link {
    color: #4798DE;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.header_body_bottom_catalog_link>img {
    margin-right: 24px;
}

.header_body_bottom_search {
    height: 50px;
    display: flex;
    align-items: center;
}

.header_body_bottom_search>input {
    border: 1px solid #979595;
    height: 100%;
    width: 440px;
    padding-left: 40px;
    font-size: 14px;
    color: #6F7682;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header_body_bottom_search_submit {
    background-color: #4798DE;
    border: none;
    height: 100%;
    cursor: pointer;
    width: 85px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header_body_bottom_phone_phone,
.header_body_bottom_phone_description {
    display: block;
}

.header_body_bottom_phone_phone {
    color: #6F7682;
    font-weight: 700;
}

.header_body_bottom_phone_description {
    color: #6CDB7E;
    font-size: 14px;
    margin-top: 2px;
}

.header_body_bottom_icons_item_img {
    margin-bottom: 2px;
}

.header_body_bottom_icons_item_description,
.header_body_bottom_icons_item_img {
    display: flex;
    justify-content: center;
}

.header_body_bottom_icons_item_img>img {
    width: 25px;
    height: 25px;
}

.header_body_bottom_icons_item_description {
    color: #4798DE;
    font-size: 13px;
}

.header_body_bottom_icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
}
/* /HEADER */


/* SLIDER */
.main_slider_item {
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
}

.main_slider_item_right {
    width: 405px;
    height: 100%;
    background-color: #FFFFFFBF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_slider_item_right_title {
    color: Grey;
    font-size: 30px;
    font-weight: 700;
    width: 290px;
    line-height: 45px;
}

.main_slider_item_right_title>b {
    display: block;
    font-size: 45px;
    color: #6CDB7E;
    font-weight: 700;
}

.main_slider_item_right_title_button {
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.main_slider_item_right_title_button-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4798DE;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    height: 40px;
    padding: 0 30px 0 30px;
    cursor: pointer;
}

.main_slider>.owl-carousel>.owl-nav {
    position: relative;
    bottom: 310px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.owl-theme .owl-nav {
    margin-top: 0;
}

.owl-prev, .owl-next {
    background-color: #F1F2F64D !important;
    margin: 0 !important;
    height: 45px;
    width: 45px;
}

.owl-prev>span, .owl-next>span {
    display: none;
}

.owl-prev::before, .owl-next::before {
    width: 45px;
    height: 45px;
}

.owl-next::before {
    content: url('../images/icons/next.svg');
    margin-left: 3px;
    
}

.owl-prev::before {
    content: url('../images/icons/prev.svg');
    margin-right: 3px;
}

.owl-dots {
    position: relative;
    top: -20px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 7px;
    margin: 0 5px;
    background: #F1F2F6;
    display: block;
    border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #4798DE;
}
/* /SLIDER */



/* ACTIONS */

.title_block {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.title {
    font-size: 35px;
    font-weight: 700;
    color: #15244F;
}

.title_more {
    color: #4798DE;
    font-weight: 700;
}

.big_title_img {
    position: absolute;
    left: 80px;
    z-index: -1;
}

/* /ACTIONS */




